<p id="notice">
    <%= notice %>
</p>
<h1>Your Pragmatic Catalog</h1>
<% @gears.each do |gear| %>
 <div class="col-md-3">
					
                    <div class="single-features">
							
							<div class="product-img">
								<a href="#">
									<%= image_tag gear.image.url(:medium),:size=>"300x200"%>
								</a>
			
								<%= link_to 'Details', gear,:class=>"modal-view"%>
                                
								<div class="action-buttons">
									 <span><%= button_to 'Add to Cart', line_items_path(gear_id: gear),
									 remote: true %></span>	
								</div>
							</div>
							<div class="product-content">
									<h5><a href="#"> <%= gear.name %> </a>$ <span class="pro-price"><%= gear.price %></span></h5>
								
							</div>
						</div>
                  
    <% end %>
  	<%= will_paginate @gears%>
      
